assets/schema-type-listing.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="types">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="type" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="type">
    <xs:complexType>
      <xs:all>
        <xs:element name="description_de"/>
        <xs:element name="description_fr"/>
      </xs:all>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
